pip==21.3.1
setuptools==60.2.0
wheel==0.37.1
telethon
setuptools-rust>=0.12.1
cryptg
pillow
pandas
numpy
fasttext
emoji
torch>=1.4
tqdm
transformers
spacy>=3.1
stanza
spacy-stanza
tokenize-uk
pyspark
spark-nlp
gensim
labelbox
wiki_ru_wordnet
dostoevsky
matplotlib
hdbscan
seaborn
pymorphy2
python-Levenshtein
pyspellchecker
pymorphy2-dicts-ru
wandb
SentencePiece
sacremoses
openai
